div.square {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

.topslide {
    position: relative;
    -webkit-animation-name: topslide; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: topslide;
    animation-duration: 1s;

       -moz-animation: topslide 1s; /* Firefox < 16 */
        -ms-animation: topslide 1s; /* Internet Explorer */
         -o-animation: topslide 1s; /* Opera < 12.1 */
}

.leftslide{
    position:relative;
    -webkit-animation-name: leftslide; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: leftslide;
    animation-duration: 1.5s;

       -moz-animation: leftslide 1.5s; /* Firefox < 16 */
        -ms-animation: leftslide 1.5s; /* Internet Explorer */
         -o-animation: leftslide 1.5s; /* Opera < 12.1 */

    
}

.fadein{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

/*
 * TOPSLIDE 
 */

/* Standard syntax */
@keyframes topslide {
    0%   {top:-500px;}
    100% {top:0px;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes topslide {
    0%   {top:-500px;}
    100% {top:0px;}
}

/* Firefox < 16 */
@-moz-keyframes topslide {
    0%   {top:-500px;}
    100% {top:0px;}
}

/* Internet Explorer */
@-ms-keyframes topslide {
    0%   {top:-500px;}
    100% {top:0px;}
}

/* Opera < 12.1 */
@-o-keyframes topslide {
    0%   {top:-500px;}
    100% {top:0px;}
}


/*
 * LEFTSLIDE 
 */

@keyframes leftslide {
    0%{left:-350px;}
    50%{left:-350px;}
    100%{left:0px;}
}

@-webkit-keyframes leftslide {
    0%{left:-350px;}
    50%{left:-350px;}
    100%{left:0px;}
}

@-moz-keyframes leftslide {
    0%{left:-350px;}
    50%{left:-350px;}
    100%{left:0px;}
}

@-ms-keyframes leftslide {
    0%{left:-350px;}
    50%{left:-350px;}
    100%{left:0px;}
}

@-o-keyframes leftslide {
    0%{left:-350px;}
    50%{left:-350px;}
    100%{left:0px;}
}

/*
 * FADEIN 
 */

/* Standard Syntax */
@keyframes fadein {
    0%{ opacity: 0; }
    75%{ opacity: 0; }
    100%{ opacity: 1; }
}

@-moz-keyframes fadein {
    0%{ opacity: 0; }
    75%{ opacity: 0; }
    100%{ opacity: 1; }
}

@-webkit-keyframes fadein {
    0%{ opacity: 0; }
    75%{ opacity: 0; }
    100%{ opacity: 1; }
}

@-ms-keyframes fadein {
    0%{ opacity: 0; }
    75%{ opacity: 0; }
    100%{ opacity: 1; }
}

@-o-keyframes fadein {
    0%{ opacity: 0; }
    75%{ opacity: 0; }
    100%{ opacity: 1; }
}
