#image-wrapper {
            margin-bottom: 20px;
        }
        .jumbotron > h2 {
            color: #BB0000;
        }
        .links-column > h2 {
            color: #BB0000;
        }
        .links-column > p {
            font-size: 20pt;
        }
        #main-pic {
            width: 100%;
            border-radius: 15px;
        }
        #more-pics {
            height: 55%;
            background-color: #BB0000;
        }
        #more-pics a {
            color: #FFFFFF;
            font-size: 18pt;
        }
        #calendar {
            height: 425px;
            width: 100%;
        }
        #event-feed-wrapper {
            vertical-align: middle;
        }
        #event-calendar-wrapper {
            margin-bottom: 20px;
        }
        @media screen and ( max-width: 390px ) {
            #email {
                font-size: 14pt;
            }
        }